// PAGE COLORS
$brand_primary_color:#088181;
$brand_secondary_color:#e5ebe5;
$brand_background_color:#edf4ec;
$brand_background_second:#131314;

// TEXT COLORS

$brand_primary_text:white;
$brand_secondary_text:#7f939c;
$brand_special_text:#088181;
$brand_special_titles:#0e272d;
$brand_special_titles_variant:#121117;

// LOGO
$brand_logo_text:#00a6a6;
$brand_logo_variant:#c0c3d0;
$brand_logo_background:#536b69;

// BUTTON COLORS

$brand_primary_button:#048383;
$brand_secondary_button:#83a7a8;
$brand_section_button:#cce3de;

// VARIOUS COLORS
$brand_decorations:#88e2e3;
$brand_logo_color:#919194;
$brand_forms:#e5ebe5;