// PAGE COLORS
$brand_primary_color:#088181;
$brand_secondary_color:#e5ebe5;

// TEXT COLORS

$brand_primary_text:white;
$brand_secondary_text:#7f939c;

// BUTTON COLORS

$brand_primary_button:#048383;
$brand_secondary_button:#83a7a8;