// PAGE COLORS
$brand_primary_color:#088181;
$brand_secondary_color:#e5ebe5;
$brand_background_color:#edf4ec;

// TEXT COLORS

$brand_primary_text:white;
$brand_secondary_text:#7f939c;
$brand_special_text:#088181;

// BUTTON COLORS

$brand_primary_button:#048383;
$brand_secondary_button:#83a7a8;
$brand_section_button:#cce3de;